body{
    margin: 0;
    padding: 0;
    background:linear-gradient(to top, #004f7c9d, #0068be70);

    background-size:contain, 1000px ;
    background-position:left ;

    background-repeat: no-repeat;
   
    text-align: center;

}


nav{
    display: flex;
    background-color: rgb(157, 224, 255);
    border-bottom: 7px solid #0071b3;
  
    
}
nav .login{
    margin-left: auto;
    margin-top: -40px;
    margin-right: 10px;
    font-size: 20px;
}


nav a{
     display: flex;      
    align-items: center;
    margin-right: 60px;

    position: relative;
    color: #0071b3 ;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.nav-links{
    display: flex;
    gap: 40px;
}
nav a img{
    width: 130px;
    height: 130px;
    object-fit: contain;
}

nav .kontaktNav::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 45px;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    
}
nav .OnamaNav::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 45px;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    
}

/* animacija */
@keyframes slideColors {
    100% {
        background-position: 0%;
    }
    0% {
        background-position: 300%;
    }
}

nav a:hover::after{
    width: 100%;
    background: linear-gradient(100deg, rgb(0, 102, 255), rgb(19, 141, 255), rgb(65, 211, 255), rgb(163, 226, 255), rgb(255, 255, 255));
    background-size: 300%;
    animation: slideColors 2s linear infinite;
}
nav a:hover{
    color: rgb(91, 179, 255);
}


.OnamaNav {
    position: relative;
    display: flex;
    align-items: center;
}

nav .zaposljavanje_dropdown::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    
}

.zaposljavanjeNav {
    position: relative;
    display: flex;
    align-items: center;
}

.zaposljavanje_dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;

    background-color: rgb(157, 224, 255);
    min-width: 200px;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.zaposljavanjeNav:hover .zaposljavanje_dropdown-content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.zaposljavanje_dropdown-content a {
    display: block;
    padding: 15px 20px;
    margin: 0;
    font-size: 18px;
    color: #0071b3;
    text-decoration: none;
    white-space: nowrap;
}

.zaposljavanje_dropdown-content a:hover {
    background-color: rgb(120, 210, 255);
    color: white;
}

.zaposljavanje_dropdown-content a::after {
    display: none;
}

/* a*/


nav .projekti_dropdown::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    
}

.projektiNav {
    position: relative;
    display: flex;
    align-items: center;
}

.projekti_dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;

    background-color: rgb(157, 224, 255);
    min-width: 200px;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projektiNav:hover .projekti_dropdown-content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.projekti_dropdown-content a {
    display: block;
    padding: 15px 20px;
    margin: 0;
    font-size: 18px;
    color: #0071b3;
    text-decoration: none;
    white-space: nowrap;
}

.projekti_dropdown-content a:hover {
    background-color: rgb(120, 210, 255);
    color: white;
}

.projekti_dropdown-content a::after {
    display: none;
}







main{
    width: 90%;
    margin: 40px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #003350;
}

.uvjeti-zaposlenja{
    background-color: #003058;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(3, 31, 107, 0.801);
    margin-bottom: 60px;
}

.uvjeti-zaposlenja h1{
    text-align: center;
    color: white;
    font-size: 70px;
    margin-bottom: 30px;
}

.uvjeti-zaposlenja > p{
    color: #dce9ff;
    font-size: 32px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto 60px auto;
    line-height: 1.5;
}

.uvjet-kartica{
    background-color: rgb(157, 224, 255);
    color: #003350;
    padding: 35px;
    border-radius: 30px;
    border-bottom: 10px solid #3a85b1;
    margin: 35px auto;
    max-width: 1400px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.uvjet-kartica:hover{
    transform: translateY(-15px);
    background-color: rgb(120, 210, 255);
}

.uvjet-kartica h2{
    font-size: 42px;
    margin-bottom: 15px;
    color: #003350;
    text-align: center;
}

.uvjet-kartica p{
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
}

.prednosti-kandidata{
    background-color: #003058;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(3, 31, 107, 0.801);
    margin-bottom: 60px;
}

.prednosti-kandidata h2{
    color: white;
    text-align: center;
    font-size: 45px;
    margin-bottom: 35px;
}

.prednosti-kandidata ul{
    list-style: none;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

.prednosti-kandidata li{
    background-color: rgb(157, 224, 255);
    color: #003350;
    font-size: 28px;
    padding: 20px 30px;
    margin-bottom: 18px;
    border-radius: 20px;
    border-left: 8px solid #3a85b1;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.prednosti-kandidata li:hover{
    transform: translateX(20px);
    background-color: rgb(120, 210, 255);
}


.kontakt-kartica {
    display: block;
    width: 1600px;
    padding: 30px;
    background-color: rgb(157, 224, 255);
    color: #003350;
    text-decoration: none;
    border-radius: 40px;
    border-bottom: 10px solid #3a85b1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 200px auto;
}

.kontakt-kartica:hover {
    transform: translateY(-25px);
    background-color: rgb(6, 149, 221);
    color: white;
}

.kontakt-kartica h2{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #003350;
    margin-top: 100px;
    padding: 20px;
}

.kontakt-kartica p {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.kontakt-kartica a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0071b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.kontakt-kartica a:hover {
    background-color: #005a8c;
}





footer {
    background: #002f4b;
    color: hsl(197, 100%, 87%);
    padding: 30px  20px 10px 20px ;
    font-family: 'Times New Roman', Times, serif;
    
}


.footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    align-items: start;
}


.footer_logo img {
    width: 400px;
    height: 400px;
}

.footer_kontakt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.footer_nav ul {
    list-style: none;
    padding: 0;

}
.footer_nav a{
    text-decoration: none;
    color: hsl(197, 100%, 87%);
    font-size: 18px;
}
.footer_nav a:hover{
    color: #0071b3;
}
.footer_nav li {
    margin-bottom: 10px;
        color: aquamarine;
    text-decoration: none;
}

.footer_bottom {
    border-top: 2px solid #0071b3;
    margin-top: 130px;
    text-align: center;
}
footer strong{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
footer h2{
    font-size: 30px;
    color: beige;
}
footer p{
    font-size: 19px;
}

